<div class="p-4 bg-gray-900 min-h-screen text-white">
      <h1 class="text-4xl font-bold mb-6 text-yellow-500">Guía de armas Iceborne</h1>

      <!--iconos de seleccion de tipo de arma-->
      <weapons-select
        [weapontypes]="(weaponsIcons$ | async) ?? []"
        (typeSelected)="onTypeSelected($event)"
      />
      <!--si hay un tipo seleccionado y un id seleccionado, mostramos el detalle del arma-->
      @if(hasSelectedType && hasSelectedId) {
        <weapon-description
          [weapon]="selectedWeapon$()"
          (back)="volverAlGrid()"
        />
      }
        @else if(hasSelectedType ) {
        <!--listado de armas por tipo-->
        <weapon-grid
          [weapons]="(weaponsData$ | async) ?? []"
          (weaponSelected)="onWeaponSelected($event)"
        />
      }


</div>
