<div class="p-4 bg-gray-900 min-h-screen text-white">
      <h1 class="text-4xl font-bold mb-6 text-yellow-500">Guía de armaduras Iceborne</h1>

      @for( armor of armorData$ | async; track armor.id ){
        <div class="mb-8 p-6 bg-gray-800 rounded-lg shadow-lg">
          <h2 class="text-2xl font-semibold mb-4 text-yellow-400">{{ armor.name }}</h2>
          <p class="mb-2"><strong>Tipo:</strong> {{ armor.type }}</p>
          <p class="mb-2"><strong>Rango:</strong> {{ armor.rank }}</p>
          <p class="mb-2"><strong>Rareza:</strong> {{ armor.rarity }}</p>
          <p class="mb-2"><strong>Defensa:</strong> {{ armor.defense.base }}</p>
          <p class="mb-2"><strong>Resistencia al draco:</strong> {{ armor.resistances.dragon }}</p>
          <p class="mb-2"><strong>Resistencia al fuego:</strong> {{ armor.resistances.fire }}</p>
          <p class="mb-2"><strong>Resistencia al hielo:</strong> {{ armor.resistances.ice }}</p>
          <p class="mb-2"><strong>Resistencia al agua:</strong> {{ armor.resistances.water }}</p>
          <p class="mb-2"><strong>Resistencia al rayo:</strong> {{ armor.resistances.thunder }}</p>
          <p class="mb-2"><strong>Imagen</strong></p>
          @if (armor.assets && armor.assets.imageMale) {
            <img src="{{ armor.assets.imageMale }}">
          }@else {
            <p class="mb-2">No hay imagen disponible</p>
          }

          <div class="mt-6">
            <h2 class="text-xl font-semibold border-b border-gray-700 pb-2 mb-3 text-red-400">Habilidades Proporcionadas</h2>
            @for (skillsInfo of armor.skills; track skillsInfo.id) {
              <p class="mb-2"><strong>{{ skillsInfo.skillName }}</strong></p>
              <p class="mb-2"> {{  skillsInfo.description }}</p>
            }@empty {
              <p class="mb-2"><strong>No tiene habilidades</strong></p>
            }
          </div>

        </div>
      }@empty {
        <!-- Bloque para mostrar mientras se cargan los datos -->
        <div class="text-center p-10 text-gray-500">
            Cargando sets de armadura...
        </div>
        }
</div>
